// @import './iconfont.css';

:root,
page {
  // 修改按主题色
  // --wot-color-theme: #37c2bc;

  // 修改按钮背景色
  // --wot-button-primary-bg-color: green;
  --wd-fab-trigger-width: 100rpx;
  --wd-fab-trigger-height: 100rpx;
  --wot-segmented-padding: 4rpx;
}

.wd-fab__icon {
  font-size: 60rpx !important;
}
.wd-fab__trigger {
  color: #fff !important;
  background: #353b49 !important;
}
